body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

.bg-image{
    /* The image used */
    background-image: url(screenbg.jpg);

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar{
    position: absolute;
    top: 8px;
    left: 16px;
    
    border-bottom: 1px solid grey;
}

.navbar img{
    float: left;
    width: 130px;
    height: 130px;
}

.navbar h1{
    float: left;
    margin-top: 80px;
    margin-right: 700px;
}
.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 75px;
/*    margin-left: 00px;*/
}
/* Position text in the middle of the page/image */

.btn-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 60%;
    margin: auto;
}

.btn{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 25px;
    z-index: 2;
    padding: 20px;
    width: 400px;
    font-size: 20pt;
}

.btn#greener{
    float: right;
}

.btn#affordable{
    float: left;
}

.footer a {
    float: left;
    color: #000000;
    text-align: center;
    
    text-decoration: none;
    font-size: 24px;
    margin-top: 10px;
    padding: 14px 
/*    margin-left: 00px;*/
}