body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
/*    background-color: orange;*/
    position:   fixed;
    top: 0px;
     padding-left: 16px;
   width: 98%;
    border-bottom: 1px solid grey;
                background-color: white
;
    
}

.navbar img{
    float: left;
    width: 60px;
    height: 60px;
/*    display: inline-block;*/
/*    background-color: grey;*/
}

#titleName{
    float: left;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 100px;
    color: darkgreen;
    font-size: 30pt
}

#counter > p{
    margin-top: 30px;
    margin-bottom: 0;
    float: right;
    font-size: 25pt;
}

#totalLightbulbs{
    margin-right: 15px;
    margin-left: 15px;
}

#table-container{
/*    display: block;*/
/*    background-color: blue;*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
}

table{
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    margin-top: 120px;
/*    background-color: red;*/
}

th {
    text-align: center;
    padding: 50px;
}

th:hover{
    background-color: lightgreen;
    cursor: pointer;
}

.clicked{
    background-color: lightgreen;
}

#inputform{
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 400px;
    float: left;
/*    background-color: green;*/
}

#lightingForm{
    margin-top: 150px;
}
#energy-ctn{
    margin-top: 70px;
    text-align: center;
/*    background-color: yellow;*/
    width: 50%;
    height: 400px;
    float: left;
}

#alt-btn{
    margin: 0 auto;
    display: block;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
}