body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar img{
    float: left;
    width: 130px;
    height: 130px;
}

.navbar{
/*    position: absolute;*/
    top: 8px;
    left: 16px;
    right: 16px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.navbar h1{
    float: left;
    margin-top: 80px;
    color: darkolivegreen;
    font-size: 35pt;
}

.table{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
/*    margin-right: 300px;*/
    width: 40%;
/*    background-color: blue;*/
}

#inputform{
    margin: 100px;
/*    background-color: red;*/
}

#energy-ctn{
/*    display: inline-block;*/
/*    background-color: green;*/
    width: 50%;
    float: right;
}

#alt-btn{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
}