body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   background-color: whitesmoke;
}

.navbar{
/*    background-color: orange;*/
    position:   fixed;
    top: 0px;
     padding-left: 16px;
   width: 99%;
    border-bottom: 1px solid grey;
                background-color: white
;
    
}

.navbar img{
    float: left;
    width: 60px;
    height: 60px;
/*    display: inline-block;*/
/*    background-color: grey;*/
}

#titleName{
    float: left;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 100px;
    color: darkgreen;
    font-size: 30pt
}

#counter > p{
    margin-top: 30px;
    margin-bottom: 0;
    float: right;
    font-size: 25pt;
}

#totalLightbulbs{
    margin-right: 15px;
    margin-left: 15px;
}

<<<<<<< HEAD
#p2{
    margin-right: 25px
}

#p1{
    width: 50%;
    margin: 130px 200px;
    margin-bottom: 10px;
    font-size: 17pt;
    font-weight: bold;
    
=======
#table-container{
/*    display: block;*/
/*    background-color: blue;*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
>>>>>>> 39041a96acce68c679de9c9a15d7598b4ca163d6
}

table{
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    font-family: arial, sans-serif;
<<<<<<< HEAD
/*    border: 1px solid black;*/
    border-collapse: collapse;
    width: 45%;
    
    margin-left: 50px;
/*    display: inline-block;*/
    background-color: white;
=======
    margin-top: 120px;
/*    background-color: red;*/
>>>>>>> 39041a96acce68c679de9c9a15d7598b4ca163d6
}

th {
    text-align: center;
    padding: 50px;
}

th:hover{
    background-color: lightgreen;
    cursor: pointer;
}

.clicked{
    background-color: lightgreen;
}

th img{
    width: 160px;
    height: auto
}

#i1{
    width: 120px
}

#inputform{
     margin-top: 0px;
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 350px;
    float: left;
/*    background-color: green;*/
}

#lightingForm{
    padding-top: 20px;
    width: 45%;
    font-size: 15pt;
    line-height: 1.3em;
    text-align: left;
    margin-left: 155px;
    padding-left: 90px;
    background-color: white;
    border: 1px solid grey
}

#lightingForm input{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 25px;
    font-size: 14pt;
}

#energy-ctn{
    margin-top: 70px;
    text-align: center;
/*    background-color: yellow;*/
<<<<<<< HEAD
    width: 29%;
    height: 240px;
    float: left;
    margin-left: 150px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid grey
=======
    width: 50%;
    height: 400px;
    float: left;
>>>>>>> 39041a96acce68c679de9c9a15d7598b4ca163d6
}

#alt-btn{
    margin: 0 auto;
    display: block;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
}